body{
    font-family: 'Segoe UI';
    background: linear-gradient(135deg,#4facfe,#00f2fe);
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.container{
    background:white;
    padding:40px;
    width:350px;
    border-radius:12px;
    box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

h2{
    text-align:center;
}

input{
    width:100%;
    padding:10px;
    margin:8px 0;
    border-radius:8px;
    border:1px solid #ccc;
}

button{
    width:100%;
    padding:10px;
    background:#4facfe;
    border:none;
    color:white;
    border-radius:8px;
    font-weight:bold;
    cursor:pointer;
}

button:hover{
    background:#00c6ff;
}

.link{
    text-align:center;
    margin-top:10px;
}
